<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <img class="portrait" src="img/Aditya.jpg">
            <p>Hi! I am Aditya Vadalkar and I am a keen Web Developer and a Blockchain enthusiast. Feel free to contact me by email. Let's collaborate!</p>
            <p>Linkedin: www.linkedin.com/in/aditya-vadalkar-76a4b21a0</p>
            <p>Github: https://github.com/adityavadalkar</p>
            <p>Email: adityavadalkar@gmail.com</p>
        </div>
        {{>footer}}
    </body>
</html>