<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by Aditya Vadalkar. Its uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="img/Aditya.jpg">
        </div>
        {{>footer}}
    </body>
</html>