<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
            <p>{{ help }}</p>
        </div>
        
        {{>footer}}
    </body>
</html>