<header>
    <img class="left" src="img/icon.png">
    <h1>{{title}}</h1>

    <a href="/"><u>Weather</u></a>
    <a href="/about"><u>About</u></a>
    <a href="/help"><u>Help</u></a>
</header>
<head>
    <style>
body  {
  background-image: url("img/sunny-day.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
</style>
</head>