body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    color: lightblue;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: white;
    border-top: 1px solid black;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
    border: 2px solid black;
}

.left {
        float: left;
        width: 90px;
        padding: 10px;
}

input {
    border: 1px solid black;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid black;
    background: green;
    color: white;
    padding: 8px;
}
